<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LEAF &#127794; DETECT</title>
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "master.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="body1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">LD</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Detect</a>
      </li>
    </ul>
  </div>
</nav>
<div class="body2">
  <form class="container jumbotron" action="{% url "detect" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.imagefile.label_tag }}
       {{ form.imagefile.help_text }}
     </p>
     <p> {{ form.imagefile.errors }}
        {{ form.imagefile }}
      </p>
      <p><input type="submit" name="upload_img" value="Upload" />
      </p>
    {% if documents %}
        <img src="{{ image_path1 }}" class="image-responsive" style="height:400px;width:400px;padding:20px;">
        <img src="{{ image_path3 }}" class="image-responsive" style="height:400px;width:400px;padding:20px;">
    {% endif %}
  </form>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
